<!--Réplica à mensagem de boas vindas, no caso, o Home-->
<div class="text-center" style="color: #081963;" >
    <hr>
    <h1 class="font-weight-bold">
      Seja bem vindo ao teste da VetorLog!
    </h1>
    <hr>
    <h2>
      Se trata da resolução de um teste bem simples, 
      porém com um enorme aprendizado!
    </h2>
    <h3>
      Obrigado pela oportunidade de realizar o teste <br>
      e indiretamente, contribuir com meu crescimento profissional.
    </h3>
    <h3>
      Independente de tudo, 
    </h3>
    <h3 style="color: rgb(255, 136, 0);">
      SUCESSO À VETORLOG!!
    </h3>
    <hr/>
  </div>
  